html {
  background-image: url("../Assets/pictures/background/2.jpg");
  background-size: cover;
}

.page {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  margin: 0;
  padding: 5px;
  background-image: url("../Assets/pictures/background/2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-wrap: wrap;
}

.route {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#education {
  width: 50%;
  height: auto;
}

.contents {
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1px;
}

#header {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  height: 10vh;
  width: 100%;
  gap: 5px;
  margin: 0 auto;
}
#header .link {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  box-shadow: 1px 1px 10px rgb(255, 255, 255);
  background: linear-gradient(to bottom right, white, rgb(115, 92, 216));
  padding: 5px 10px;
  text-decoration: none;
  margin: 0px;
  font-weight: bold;
  color: rgb(8, 2, 2);
  width: 60px;
  height: auto;
  border-radius: 30%;
  transition: all 0.3s ease-in-out;
  width: 100px;
  text-align: center;
}
#header .link:hover {
  background: linear-gradient(to bottom right, transparent, gray);
  color: white;
}

.paragraph {
  box-shadow: 50px 0px 70px rgb(13, 18, 110);
  color: rgb(8, 2, 2);
  font-weight: bold;
  font-size: larger;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  background: linear-gradient(to bottom right, white, rgb(115, 92, 216));
  opacity: 2;
  padding: auto;
  margin: auto;
  border-radius: 10%;
  justify-content: center;
  width: 80%;
  text-wrap: wrap;
  background: linear-gradient(to bottom right, transparent, gray);
  box-shadow: inset 20px 20px 50px black;
  color: white;
  font-size: larger;
  font-weight: bold;
}

.university-logo {
  box-shadow: 50px 0px 70px rgb(13, 18, 110);
  color: rgb(8, 2, 2);
  font-weight: bold;
  font-size: larger;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  background: linear-gradient(to bottom right, white, rgb(115, 92, 216));
  opacity: 2;
  width: 200px;
  height: 150px;
  border-radius: 50%;
  box-shadow: inset 0 0 10px rgb(255, 255, 255);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.university-logo:hover {
  box-shadow: 0 0 10px rgb(47, 93, 142);
}

.lang-logo {
  width: 200px;
  height: auto;
  border-radius: 60%;
  box-shadow: inset 0 0 10px rgb(255, 255, 255);
  -o-object-fit: contain;
     object-fit: contain;
}

.contact {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.contact-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: auto;
}
.contact-item img {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  box-shadow: 1px 1px 10px rgb(255, 255, 255);
  background: linear-gradient(to bottom right, white, rgb(115, 92, 216));
  padding: 5px 10px;
  text-decoration: none;
  margin: 0px;
  font-weight: bold;
  color: rgb(8, 2, 2);
  width: 60px;
  height: auto;
  border-radius: 30%;
  transition: all 0.3s ease-in-out;
  width: 100%;
  height: auto;
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.contact-item img:hover {
  background: linear-gradient(to bottom right, transparent, gray);
  color: white;
}/*# sourceMappingURL=style.css.map */